*.class
*.jar
*.png.bak
*.asta.bak
*~
.DS_Store

### honkit ###
/honkit

### npm ###
node_modules
npm-debug.log

### sbt ###
target/
lib_managed/
src_managed/
project/boot/
.history
.cache

### IntelliJ ###
*.iml
.idea/

