name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 3 * * *'
env:
  CXX: "g++-4.8"
jobs:
  test:
    runs-on: ubuntu-18.04
    timeout-minutes: 40
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: olafurpg/setup-scala@v10
      with:
        java-version: "adopt@1.8"
    - uses: coursier/cache-action@v5
    - run: sudo apt-get update
    - run: sudo apt-get install -y build-essential
    - run: sudo apt-get install gcc-4.8
    - run: sudo apt-get install g++-4.8
    - uses: actions/setup-node@v1.4.4
      with:
        node-version: '12.18.2' # https://github.com/nodejs/node/issues/34529
    - run: npm install -g npm
    - run: npm ci
    - run: npm install svgexport -g
    - run: sbt -v textLintAll textTestAll textBuildHtml test
    - run: |
        wget -nv -O- https://raw.githubusercontent.com/kovidgoyal/calibre/614d94496efdcf960871429e1c090c56d2018f68/setup/linux-installer.py |
        python -c "import sys; main=lambda x,y:sys.stderr.write('Download failed\n'); exec(sys.stdin.read()); main('~/calibre-bin', True)" >/dev/null
    - run: |
        export PATH="~/calibre-bin/calibre/:$HOME/calibre-bin/calibre/:$PATH"
        sbt textBuildEpub
    - run: git diff --exit-code
    - run: mv gitbook/scala_text.epub gitbook/_book/
    - run: find . -name "*.class" | xargs rm -rf
    - run: find . -name target | xargs rm -rf
    - name: push to gh-pages
      uses: JamesIves/github-pages-deploy-action@3.7.1
      if: ${{ !github.event.repository.fork && github.ref == 'refs/heads/master' && github.event_name == 'push' }}
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: gitbook/_book/
        CLEAN: true
    - uses: webfactory/ssh-agent@v0.4.1
      if: ${{ !github.event.repository.fork && github.event_name == 'push' }}
      with:
        ssh-private-key: ${{ secrets.SCALA_TEXT_PREVIEWS_KEY }}
    - name: push to scala_text_previews
      uses: JamesIves/github-pages-deploy-action@3.7.1
      if: ${{ !github.event.repository.fork && github.ref != 'refs/heads/master' && github.event_name == 'push' }}
      with:
        SSH: true
        TARGET_FOLDER: ${{ github.ref }}
        REPOSITORY_NAME: scala-text/scala_text_previews
        BRANCH: gh-pages
        FOLDER: gitbook/_book/
        CLEAN: true
  push_pdf:
    needs: test
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: webfactory/ssh-agent@v0.4.1
      if: ${{ !github.event.repository.fork && github.event_name == 'push' }}
      with:
        ssh-private-key: ${{ secrets.SCALA_TEXT_PDF_KEY }}
    - if: ${{ !github.event.repository.fork && github.ref == 'refs/heads/master' && github.event_name == 'push' }}
      run: |
        git clone git@github.com:scala-text/scala_text_pdf.git
        cd scala_text_pdf
        git submodule update --init
        cd scala_text
        git pull origin master
        cd ..
        git add scala_text
        git config --global user.email "74845010+scala-text-bot[bot]@users.noreply.github.com"
        git config --global user.name "scala-text-bot[bot]"
        git commit -a -m "auto commit on GitHub Actions ${{ github.run_id }} ${{ github.sha }}"
        git push origin master
