name: scala-steward
on:
  push:
    branches: [ master ]
  schedule:
  - cron: '0 2 * * *'
  workflow_dispatch:
jobs:
  scala-steward:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    if: ${{ github.repository_owner == 'scala-text' }}
    steps:
    - name: Generate token
      id: generate_token
      uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
      with:
        app-id: 89662
        private-key: ${{ secrets.SCALA_TEXT_BOT_KEY }}
    - name: Launch Scala Steward
      uses: scala-steward-org/scala-steward-action@5bbb0a3f32b42774f8ba1ed18c29db5d915d2200 # v2.80.0
      with:
        github-token: ${{ steps.generate_token.outputs.token }}
        author-email: "74845010+scala-text-bot[bot]@users.noreply.github.com"
        author-name: scala-text-bot[bot]
